:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  color: #101828;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1em;
}

.container {
  /* border: 1px solid red; */
  width: clamp(1em, 90vw, 45em);
  padding-top: 4em;
  padding-bottom: 4em;
  margin-inline: auto;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile__img {
  width: 80px;
  border-radius: 50%;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  margin-top: 2em;
}

.links > a {
  background-color: #EAECF0;
  text-decoration: none;
  color: #101828;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  padding-block: 1em;
}

.links > a:hover,
.links > a:focus {
  background-color: #dddfe1;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 1em;
}

.icons img {
  display: block;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
  border-top: 1px solid #EAECF0;
  padding-top: 1em;
}

footer>p {
  font-size: .9rem;
  font-weight: 400;
  color: #667085
}

footer>img {
  width: 18%
}

.dot {
  position: absolute;
  bottom: 30%;
  left: 4.85%;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%
}

.share {
  position: absolute;
  top: -15%;
  right: 12%;
}

.more {
  display: none;
  width: 8%;
  position: absolute;
  top: -10%;
  right: 0;
  border: 1px dashed #D0D5DD;
  border-radius: 50%;
}

@media (max-width:480px) {
  footer {
    display: none;
  }

  .more {
    display: block;
  }

  .share {
    display: none;
  }
}


